
@mixin create-columns($class-slug, $nb-cols) {
	@for $i from 1 through $nb-cols {
		.#{$class-slug}-#{$i} {
			width: 100% * $i/$nb-cols;
		}
	}
}

@mixin create-container-margin($container-gutter) {
	margin-left: $container-gutter;
	margin-right: $container-gutter;
}

@mixin create-container($width, $container-gutter) {
	.container-fluid {
		@include create-container-margin($container-gutter);
	}
	.container-fixed {
		width: $width;
		@if $width == auto {
			@include create-container-margin($container-gutter);
		} @else {
			@include create-container-margin(auto);
		}
	}
}
